{% extends 'base.html' %}
{% load static %}

{% block style %}
.general-info-header{
height: 300px;
width: 98%;
background-image: linear-gradient(to top, #064B7B , #0098D7);
margin-top: 8px;
border-radius: 10px;
}
.general-info-header .waves_img{
    height: auto;
    width: 100%;
    position: relative;
    transform: translateY(2rem);

}
@media screen and (max-width: 770px){

    .general-info-header .waves_img{
    height: auto;
    width: 100%;
    position: relative;
    transform: translateY(1rem);
} 

.inner-class{
    border-radius:10px;
    box-shadow:0px 0px 10px;
    padding:7px;
}
h4{
    margin-top:15px;
    text-align:center;
}
}


.banner-btn a{
    border-radius: 8px;
	width: 170px;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	padding: 12px 0;
	color: #0098D7;
    background-color: rgb(255, 255, 255);
	border: 1px solid rgb(255, 255, 255);
	position: relative;
	z-index: 1;
	transition: color 0.5s;
	margin-top: 10px;
    font-weight: bold;
}

.banner-btn a span{
width: 0%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background: linear-gradient(to right, #064B7B , #0098D7);
z-index: -1;
transition: 0.5s;
}
.banner-btn a:hover span{
    border-radius: 8px;
	width: 100%
}
.banner-btn a:hover{
	color:rgb(255, 255, 255);
}




.principal-message{
    margin-top:14px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

.principal-message .profile{
    width: 15rem;
    border-radius: 100%;
    border:6px solid white;
    box-shadow:5px 5px 10px;
}


@media screen and (max-width: 770px){

    .principal-message{
        margin-top:14px;
        border-radius: 40px;
        box-shadow: 0px 0px 10px;
    }
}

{% endblock style %}



{% block body_content %}
    <!-- About Header Buttons Start -->
    <center> <div class="general-info-header">
        <div class="banner-btn">
            <a href="{% url 'school_info' %}" style="margin-top: -28px;"  data-aos="fade-down" data-aos-delay="150" data-aos-duration="1000"> <span></span>School Info &nbsp;&nbsp;</a>
            <a href="{% url 'vision_and_mission' %}"   data-aos="fade-down" data-aos-delay="200" data-aos-duration="1000"> <span></span>Vision And Mission &nbsp;&nbsp;</a>
            <a href="{% url 'founder_message' %}"   data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000"> <span></span>Founder Message &nbsp;&nbsp;</a>
            <a href="#" style="margin-top: -28px; color: white; background: linear-gradient(to right, #064B7B , #0098D7);"  data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000"> <span></span>Principal Message &nbsp;&nbsp;</a>
            <br>
            <a href="{% url 'phylosophy' %}"  data-aos="fade-down" data-aos-delay="300" data-aos-duration="1000"> <span></span>Our Phylosophy&nbsp;&nbsp;</a>
            <a href="{% url 'alumni' %}"   data-aos="fade-down" data-aos-delay="50" data-aos-duration="1000"> <span></span> Alumni &nbsp;&nbsp;</a>
            <a href="{% url 'school_location' %}"   data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000"> <span></span>Location &nbsp;&nbsp;</a>
            <a href="{% url 'risod_city' %}"   data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000"> <span></span>Risod City &nbsp;&nbsp;</a>
      </div>
     <img src="{% static 'img/waves.png' %}" alt="" class="waves_img">
    </div>
</center> 
    <!-- About Header Buttons Stop -->

<br>

<div class="container bg-light" data-aos="fade-down" data-aos-delay="50" data-aos-duration="1000">
    <div class="row ">
        <div class="col-sm-12 principal-message">
            <br>
            <center> <img src="{% static 'img/principal_profile.jpg' %}" alt="" class="profile" data-aos="fade-down" data-aos-delay="50" data-aos-duration="1000">
                <br>
                <br>
                <h2 style="color:#0098D7;" data-aos="fade-in" data-aos-delay="100">Mr.Balu sir </h2>
            </center>
            <br>
            <div class="inner-class">
                <h4 style="color:#0098D7; margin-bottom:-7px;" data-aos="fade-in" data-aos-delay="100"> Message </h4>
           
                <p style="text-align: justify; margin:10px;" data-aos="fade-left" data-aos-delay="400" data-aos-duration="1000">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Welcome to Bhavana Public School  website. I hope you find our website informative, giving you an overview of school and students' life at BPS. We are a vibrant learning community with a capacity of housing over 1100 students from Grade 1 to 12. Our school is envisaged as a home away from home and both teaching and non-teaching faculties share a very positive & caring bond with the students as an extended family like atmosphere. <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  We respect and nurture every child’s individuality and shape them to be dynamic and fine young adults who grow up as beautiful human beings. We aim to develop our students as well-rounded, confident and responsible individuals to face the challenges of rapidly changing world by providing all the necessary skills and competencies required by a 21st century learner. <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our mesmerizing lush green sprawling campus with lofty structures, open fields and its stunning beauty changing with every season is the best environment for the learner and the facilitator for the transaction of knowledge and sharing experiences . It reminds us of our ancient Gurukul system. <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We at BHAVANA PUBLIC SCHOOL empower our students to discover themselves- who they are as people. Within each student there is a doctor, an actor, an engineer, a teacher, a social activist, a sportsperson, political leader, a champion, an environmentalist, a poet, an author or an economist. It is my humblest belief that each child’s inner beauty and energy needs to be unraveled to enable him/her to scale his/her optimum heights. <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Please do read our testimonial page, where our BPS Alumni has penned their schooling experience at BHAVANA PUBLIC SCHOOL. It feels very good to see our students grow up as poised individuals and have carved a niche for them in this world. There is nothing like visiting our beautiful campus and interacting with us. Please do visit us and get the real feel of BPS SCHOOLOING.  <br><br>
        </p>
    <br>
    <center><span><h6 style="color:#0098D7;" data-aos="fade-down" data-aos-delay="200" data-aos-duration="1400">With best wishes!!!!!</h6></span></center>
   <spam style="text-align:right; padding-right:-100px;" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1400"> <h5> Mr.Balu sir  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5> 
            <p>(Principal) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p> 
</spam>
            </div>
            <br><br>
            </div>
    </div>
 
</div>

<br>



{% endblock body_content %}