arabic-reshaper==2.1.3
asgiref==3.5.2
astroid==2.9.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cycler==0.11.0
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.4
dj-database-url==1.0.0
Django==4.1.1
django-crispy-forms==1.13.0
django-filter==21.1
django-import-export==2.7.1
djangorestframework==3.13.1
et-xmlfile==1.1.0
filelock==3.4.2
fonttools==4.34.4
frappe-bench==5.8.1
future==0.18.2
gitdb2==2.0.6
GitPython==2.1.15
gunicorn==20.1.0
honcho==1.1.0
html5lib==1.1
idna==3.3
import-export==0.2.67.dev6
isort==5.10.1
Jinja2==3.0.3
kiwisolver==1.4.4
lazy-object-proxy==1.6.0
MarkupPy==1.14
MarkupSafe==2.1.1
matplotlib==3.5.3
mccabe==0.6.1
mysqlclient==2.1.0
numpy==1.21.4
odfpy==1.4.1
openpyxl==3.0.9
packaging==21.3
pandas==1.3.5
Pillow==9.0.0
platformdirs==2.4.0
psycopg2==2.9.3
pylint==2.12.2
pyparsing==3.0.9
PyPDF2==1.26.0
python-bidi==0.4.2
python-crontab==2.4.2
python-dateutil==2.8.2
pytz==2018.9
PyYAML==6.0
reportlab==3.6.5
requests==2.27.1
scipy==1.9.0
seaborn==0.11.2
semantic-version==2.8.5
six==1.16.0
smmap==5.0.0
smmap2==3.0.1
sqlparse==0.4.2
sudo==1.0.0
tablib==3.1.0
toml==0.10.2
tzdata==2021.5
urllib3==1.26.9
virtualenv==20.13.0
waitress==2.0.0
webencodings==0.5.1
wget==3.2
whitenoise==4.1.2
wrapt==1.13.3
xhtml2pdf==0.2.5
xlrd==2.0.1
xlutils==2.0.0
xlwt==1.3.0
