{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}


{% endblock style %}

{% block body_content %}
<br>
<center><h2>Be Connected with BPS Family</h2></center>
<div class="container">
    <div class="row">   
        <div class="col-sm-12">
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
             
            {{fm|crispy}}
          <center> <button class="btn btn-info mt-2" style="width:150px; border-radius:30px;" >Submit</button></center> <br><br>
        </form>
        </div>
    </div>
</div>

    
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  {% for msg in messages %}
  swal("Done", "{{msg}}", "success");
{% endfor %}
</script>


{% endblock body_content %}